h1 {
	text-align: center;
	font-family: 'lobster';
}
h3, h2 {
	text-align: center;
}
hr {	
	height: 1px;
	width: "100%";
	background-color: gray;
}
th {
	text-align: center;
}
div {
	background-color: rgba(255,0,0,0.7);
}
a {
	padding-right: 15px;
	padding-left: 15px;
}
a:link {
}
a:visited {
	color: red;
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}
caption {
	text-decoration: underline; 
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
}
.item {
	text-align: center;
	font-family: 'lobster';
}