h1 {
	text-align: center;
	font-family: 'lobster';
}
h3 {
	text-align: center;
}
hr {	
	height: 1px;
	width: "100%";
	background-color: gray;
}
div {
	background-color: rgba(255,0,0,0.7);
}
a {
	padding-right: 15px;
	padding-left: 15px;
}